<div class="doc-page">

  <!-- HEADER -->
  <app-header-content [title]="title">
      <div page-actions>
        <button mat-mini-fab color="accent" [routerLink]="['/solicitudes',0]">
          <mat-icon class="mat-18" md-tooltip="Nueva Solicitud">add</mat-icon>
        </button>
      </div>
    </app-header-content>
    <!-- / HEADER -->

  <!-- / CONTENT -->
  <div class="content">
    <mat-card class="card-table" fxLayoutAlign="space-between center" >
      <mat-card-content class="table" fxFlexFill>

        <!-- TABLE -->
        <mat-table [dataSource]="dataSource"
                    matSort
                    matSortActive="Code"
                    matSortDirection="desc"
                    matSortDisableClear>
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>
                <app-table-filter #filterRef="tableFilter" [filterSettings]="filterSettings"></app-table-filter>
              </mat-header-cell>
              <mat-cell *matCellDef="let request">
                <button mat-icon-button  matTooltip="ver detalle" [routerLink]="['/solicitudes', request.Id]">
                  <mat-icon class="mat-18" color="accent">search</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Code">
              <mat-header-cell *matHeaderCellDef  mat-sort-header> Código </mat-header-cell>
              <mat-cell *matCellDef="let request"> {{request.Code}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Date">
              <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
              <mat-cell *matCellDef="let request"> {{request.Date  | date:'EEE dd MMM yyyy, hh:mm a'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="RequestType">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Solicitud </mat-header-cell>
              <mat-cell *matCellDef="let request"> {{request.RequestType}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Applicants">
              <mat-header-cell *matHeaderCellDef  mat-sort-header> Solicitante(s) </mat-header-cell>
              <mat-cell *matCellDef="let request">
                <div *ngFor="let applicant of request.Applicants">
                  {{ applicant.FullName }} <i>({{ applicant.ApplicantType }})</i>
                </div>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Program">
              <mat-header-cell *matHeaderCellDef  mat-sort-header> Programa </mat-header-cell>
              <mat-cell *matCellDef="let request"> {{request.Program}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Faculty">
              <mat-header-cell *matHeaderCellDef  mat-sort-header> Facultad </mat-header-cell>
              <mat-cell *matCellDef="let request"> {{request.Faculty}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="State">
              <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
              <mat-cell *matCellDef="let request"> {{request.State}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Priority">
              <mat-header-cell *matHeaderCellDef> Prioridad </mat-header-cell>
              <mat-cell *matCellDef="let request"> {{request.Priority}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="City">
              <mat-header-cell *matHeaderCellDef> Sede </mat-header-cell>
              <mat-cell *matCellDef="let request"> {{request.City}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Act">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Acta </mat-header-cell>
              <mat-cell *matCellDef="let request"> {{request.Act}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>

        <mat-paginator #paginator
                        [pageSize]="10"
                        [pageSizeOptions]="[5, 10]"
                        [showFirstLastButtons]="true">
        </mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- / CONTENT -->

</div>


