<h2 matDialogTitle>Política de Privacidad y Protección de Datos</h2>

<mat-dialog-content>
    <div>
        <p>
            Para dar cumplimiento a lo previsto en el artículo 10 del Decreto 1377 de 2013,
            reglamentario de la Ley 1581 de 2012, la Universidad de Cundinamarca,
            encargada del tratamiento de los datos personales obtenidos a través de la aplicación de
            Gestión de solicitudes antes Consejos de Facultad de la institución,
            solicitamos a los titulares  autorización para iniciar o continuar con el tratamiento de sus datos personales,
            de acuerdo a lo establecido en las Políticas de Privacidad y Protección de los datos publicada en el portal
            de la aplicación.
        </p>
        <p>
            La información y datos personales suministrados podrán ser procesados, recolectados, almacenados, usados,
            circulados, suprimidos, compartidos, actualizados, transmitidos y/o transferidos total o parcialmente
            en todas las dependencias de la institución  con fines informativos, administrativos y académicos,
            incluyendo datos sensibles, de acuerdo con los términos y condiciones de las Políticas de Privacidad publicadas
            en aplicación de Gestión de Solicitudes según sean aplicables, principalmente para hacer posible la gestión
            de las solicitudes, para los registros academicos y administrativos que sean requeridos, para reportes a
            autoridades de control y vigilancia, para el control de solicitudes y demás servicios que ofrece la Institución y
            además de uso para fines administrativos, academicos, de publicidad y contacto frente a los titulares de los mismos.
        </p>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button matDialogClose>Cerrar</button>
</mat-dialog-actions>
