
::ng-deep mat-card.body-page {
  padding: 0;
  max-width: 860px;
  overflow: hidden;
  margin: 10px 0px;
  border-radius: 10px !important;


  mat-card-content {
    padding: 24px;
  }

  mat-card {
    border-radius: 4px;
    padding: 0;
    margin-bottom: 20px;
    background-color: #fafafa;

    &.autores mat-card-content {
      padding: 0;

      .detalle-autor {
        padding: 20px;
      }
    }

    .tipo-director {
      label, mat-radio-button {
        margin-right: 10px;
      }
    }
  }
}
