
<div [attr.id]="'event_' + timeLineEvent.id" [ngClass]="timeLineEvent.class">
  <!-- <VisibilitySensor onChange={this.onVisibilitySensorChange}> -->
  <div class="prueba">
    <span class="vertical-timeline-element-icon" [ngClass]="elementClasses">
    </span>
    <div class="vertical-timeline-element-content" [ngClass]="elementClasses">
      <div [innerHTML]="timeLineEvent.content"></div>
      <span class="vertical-timeline-element-date">
        {{ timeLineEvent.date | date:'EEE dd MMM yyyy' }}
      </span>
      <a mat-button>
        <mat-icon aria-label="ver detalle">favorite</mat-icon>
        ver detalle
      </a>
    </div>
  </div>
  <!-- </VisibilitySensor> -->
</div>
