<div class="doc-page">
  <!-- HEADER -->
  <div class="header" fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div class="breadcrumb" layout="row" layout-align="start center">
        <mat-icon class="mat-16">home</mat-icon>
        <mat-icon class="mat-16 separator">keyboard_arrow_right</mat-icon>
        <span class="parent">Trabajos de Grado</span>
      </div>
      <div class="title">Línea de Tiempo - Nuevo Trabajo de Grado</div>
    </div>
    <div layout="row">
      <button mat-mini-fab color="accent">
        <mat-icon class="mat-18">file_download</mat-icon>
      </button>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- / CONTENT -->
  <div>


  </div>
  <!-- / CONTENT -->

  </div>
