<!--The content below is only a placeholder and can be replaced.-->
<div class="app-container">

  <mat-progress-bar mode="indeterminate" color="accent" [style.visibility]="loading ? 'visible': 'hidden'"></mat-progress-bar>

  <!-- APP Toolbar -->
  <mat-toolbar fxLayout="row" class="app-toolbar mat-elevation-z6" color="primary">

    <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <div class="logo-image" color="primary">G</div>
        <div class="logo-text" color="white">{{title}} </div>
    </div>

    <mat-divider [vertical]="true"></mat-divider>

    <button mat-icon-button color="white"
      (click)="toggle()">
      <mat-icon [@iconChange]="isCollapsed">first_page</mat-icon>
    </button>

    <h3>Sistema de Gestión de Trabajos de Grado</h3>

    <mat-divider [vertical]="true"></mat-divider>

  </mat-toolbar>

  <div fxFill class="drawer-container">
      <mat-drawer-container fxFill [class.folded]="isCollapsed">
          <mat-drawer class="mat-elevation-z6" mode="side" [opened]="false"
          [class.isMouseOverMenu]="isMouseOverMenu"
          [ngStyle]="{ 'width.px': sideNavWidth }"
          (mouseover)="processMouseEvents(true)"
          (mouseout)="processMouseEvents(false)" >
              <mat-nav-list>

                <!--
                <div class="navegation-item header">
                    <span mat-subheader>INICIO</span>
                </div>

                <mat-list-item [routerLink]="['/dashboard']" class="navegation-item" routerLinkActive="selected-menu-item">
                      <mat-icon>trending_up</mat-icon>
                      <span class="item-text">Dashboard</span>
                </mat-list-item>


                <div class="navegation-item header">
                  <span mat-subheader>SOLICITUDES</span>
                </div>

                <mat-list-item [routerLink]="['/solicitudes']" routerLinkActive="selected-menu-item" class="navegation-item">
                    <mat-icon>local_post_office</mat-icon>
                    <span class="item-text">Gestión de Solicitudes</span>
                </mat-list-item>


                <div class="navegation-item header">
                  <span mat-subheader>CONCEJOS DE FACULTAD</span>
                </div>

                <mat-list-item [routerLink]="['/actas']" routerLinkActive="selected-menu-item" class="navegation-item">
                    <mat-icon>collections_bookmark</mat-icon>
                    <span class="item-text">Actas</span>
                </mat-list-item>


                <div class="navegation-item header">
                  <span mat-subheader>PLANTILLAS</span>
                </div>
-->
                <!--

                <mat-list-item [routerLink]="['/actas']" routerLinkActive="selected-menu-item" class="navegation-item">
                    <mat-icon>collections_bookmark</mat-icon>
                    <span class="item-text">Actas</span>
                </mat-list-item>

              -->

                <!-- <mat-list-item class="navegation-item iconless" [routerLink]="['/plantillas','NOTIFSOLICITUD']" routerLinkActive="selected-menu-item">
                    <span class="item-text">Notificación Solicitud</span>
                </mat-list-item>

                <mat-list-item class="navegation-item iconless" [routerLink]="['/plantillas','NOTIFRESPUESTA']" routerLinkActive="selected-menu-item">
                    <span class="item-text">Notificación Respuesta</span>
                </mat-list-item>

                <mat-list-item class="navegation-item iconless" [routerLink]="['/plantillas','INFMIEMBROSACTAS']" routerLinkActive="selected-menu-item">
                    <span class="item-text">Asistentes Concejos</span>
                </mat-list-item>

                <mat-list-item class="navegation-item iconless" [routerLink]="['/plantillas','INFFIRMANTESACTAS']" routerLinkActive="selected-menu-item">
                    <span class="item-text">Firmantes Acta</span>
                </mat-list-item> -->


                <div class="navegation-item header">
                  <span mat-subheader>TRABAJOS DE GRADO</span>
                </div>
<!--
                <mat-list-item class="navegation-item" [routerLink]="['trabajos-de-grado/lista-proyectos']">
                    <mat-icon>class</mat-icon>
                    <span class="item-text">Proyectos</span>
                </mat-list-item>-->

              </mat-nav-list>
          </mat-drawer>

          <mat-drawer-content  [@fadeAnimation]="state(o)"
                               [ngStyle]="{ 'margin-left.px': navContentLeft }">
            <router-outlet #o="outlet"></router-outlet>
          </mat-drawer-content>

        </mat-drawer-container>
  </div>
</div>


